In [3]:
print("hello")

hello

In [17]:
print("basic datatypes")

basic datatypes

In [8]:
f=1.5
print(f)
print(type(f))

1.5
<class 'float'>

In [7]:
a=5
print(type(a))

<class 'int'>

In [9]:
s="hello"
print(s)
print(type(s))

hello
<class 'str'>

In [12]:
b=True 
print(b)
print(type(b))

True
<class 'bool'>

In [13]:
t=5+3j
print(t)
print(type(t))

(5+3j)
<class 'complex'>

In [21]:
print("basic arithmetic operators")
a=7
b=3
ab_sum=a+b
print(ab_sum)
ab_diff=a-b
print(ab_diff)
ab_pro=a*b
print(ab_pro)
ab_quo=a/b
print(ab_quo)
ab_iquo=(a//b)
print(ab_iquo)
ab_rem=a%b
print(ab_rem)
ab_pow=a**b
print(ab_pow)

basic arithmetic operators
10
4
21
2.3333333333333335
2
1
343

In [23]:
print("basic boolean operations")
T=True
F=False
print(T,F)
p=5>3
print(p)
q=-1<-12.5
print(q)
print(p and q)
print(p or q)
print(not q)

basic boolean operations
True False
True
False
False
True
True

In [26]:
print("string operations")
s='hello'
u="hello"
print(s)
print(u)
s1="python"
s2='world'
s3=s1+' '+s2
print(s3)

hello
hello
python world

In [45]:
s3='%s %s %d'%(s1,s2,1011)
print(s3)
print(len(s3))
print(s3.upper())
print(s3.capitalize())
print(s3.lower())
print("hello how are you".split())
print('book'.replace('o','e'))
word="jewellery"
print(word.find("well"))
print(word.find("is"))

python world 1011
17
PYTHON WORLD 1011
Python world 1011
python world 1011
['hello', 'how', 'are', 'you']
beek
2
-1

In [48]:
print("if else")
num=123
print(num)
if num > 99 and num < 1000:
    print('3 digit')

else:

    print('Not 3 digit')

if else
123
3 digit

In [52]:
response=input("are you familiar with python : ")
if response.upper()=='YES':
    print("you can skip the course")
elif response.upper()=='NO':
    print("you are at right place")
else:
    print("sorry !! wrong input")

are you familiar with python : fhgfg
sorry !! wrong input

In [56]:
for x in range(10):
    print(x,end=',')

0,1,2,3,4,5,6,7,8,9,

In [67]:
limit=int(input("enter limit:"))
sum=0
for i in range(1,limit+1):
    if(i%2!=0):
        sum+=i
print("odd sum="+str(sum))

enter limit:15
odd sum=64

In [61]:
print(list(range(10)))
print(list(range(1,10)))
print(list(range(1,10,2)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]

In [63]:
number=int(input("enter number"))
s=0
while number>0:
    s+=number%10
    number=number//10
print(s)

enter number1254
12

In [69]:
limit=int(input("enter number: "))
for num in range(2,limit+1):
    is_divisible=False
    k=2
    while k <= num//2 :

        if num % k == 0:
            is_divisible=True
            break;

        k += 1

    if not is_divisible:
            print(num,end=' ')

enter number: 400
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199 211 223 227 229 233 239 241 251 257 263 269 271 277 281 283 293 307 311 313 317 331 337 347 349 353 359 367 373 379 383 389 397

In [8]:
print("Containers LIST ")
mylist = ['a','b', 1, 1.2, True]
print(mylist)

Containers LIST
['a', 'b', 1, 1.2, True]

In [71]:
mylist.append('new')

print(mylist)

['a', 'b', 1, 1.2, True, 'new']

In [72]:
print(mylist.pop())

new

In [76]:
mylist.insert(2,'new')
print(mylist)

['a', 'b', 'new', 1, 1.2, True]

In [77]:
mylist.remove('new')
print(mylist)

['a', 'b', 1, 1.2, True]

In [79]:
b = [1,2,3]

mylist.append(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3], [1, 2, 3]]

In [80]:
mylist.remove(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3]]

In [81]:
mylist.extend(b)
print(mylist)

['a', 'b', 1, 1.2, True, [1, 2, 3], 1, 2, 3]

In [82]:
a=[2,3,1,4,5]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [83]:
print(list('hello'))

['h', 'e', 'l', 'l', 'o']

In [9]:
print("Containers LIST SLICING ")
numbers=[1,2,3,4,5,6,7,8,9,10]
print(numbers[1],numbers[-1])

Containers LIST SLICING
2 10

In [86]:
sliced=numbers[5:11]
print(sliced)

[6, 7, 8, 9, 10]

In [88]:
sliced=numbers[5:]
print(sliced)

[6, 7, 8, 9, 10]

In [90]:
sliced=numbers[7:]
print(sliced)

[8, 9, 10]

In [91]:
sliced=numbers[-2:]
print(sliced)

[9, 10]

In [10]:

print("Containers LIST COMPREHENSION ")
numbers = list(range(1, 8))

print(numbers)

Containers LIST COMPREHENSION
[1, 2, 3, 4, 5, 6, 7]

In [2]:
square=[]
for i in numbers:
    square.append(pow(i,2))
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [4]:
square = [x**2 for x in numbers]
print(square)

[1, 4, 9, 16, 25, 36, 49]

In [5]:
odd_square=[x**2 for x in numbers if x%2!=0]
print(odd_square)

[1, 9, 25, 49]

In [7]:
A=[4,6,8,9]
AxA=[(a,b) for a in A for b in A if a!=b]
print(AxA)

[(4, 6), (4, 8), (4, 9), (6, 4), (6, 8), (6, 9), (8, 4), (8, 6), (8, 9), (9, 4), (9, 6), (9, 8)]

In [23]:
print("Containers DICTIONARY ")
print('\n')
person={'name':'manu','age':28}
print(person['name'])
print('name' in person)
print('sex' in person)
print('\n')
person['sex']='male'
print(person)
print('\n')
for item in person:
    print(item,person[item])
print('\n')
for (key,value) in person.items():
    print(key.capitalize(),'\t:\t',value)
print('\n')
print(person.keys())

Containers DICTIONARY


manu
True
False


{'name': 'manu', 'age': 28, 'sex': 'male'}


name manu
age 28
sex male


Name 	:	 manu
Age 	:	 28
Sex 	:	 male


dict_keys(['name', 'age', 'sex'])

In [77]:
print('containers TUPLES')
print('\n')
t1=(1,2,3)
t2=4,5,6
print(t1,t2)
t3=t1+t2
print(t3)
lt = tuple(['a','b','c','d']) 
print(lt)

containers TUPLES


(1, 2, 3) (4, 5, 6)
(1, 2, 3, 4, 5, 6)
('a', 'b', 'c', 'd')

In [76]:
lt[2] = 'x'

TypeError: 'tuple' object does not support item assignment

In [32]:
s=(3)
print(type(s))

<class 'int'>

In [34]:
s=(3,)
print(type(s))

<class 'tuple'>

In [41]:
print('containers SET')
print('\n')
s={1,2,3}
print(s,type(s))
fset={"apple","banana","cherry"}
fset.discard("banana")
print(fset)
fset = {"apple", "banana", "cherry"}
fset.clear()
print(fset)
set1={"a","b","c"}
set2={1,2,3}
set3=set1.union(set2)
print(set3)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z=x.intersection(y)
print(z)
lst = [1,2,3,4,5,5,5,7,6]
myset = list(set(lst))
print(myset)

containers SET


{1, 2, 3} <class 'set'>
{'cherry', 'apple'}
set()
{'c', 'a', 'b', 1, 2, 3}
{'apple'}
[1, 2, 3, 4, 5, 6, 7]

In [44]:
print('functions')
print('\n')
def twice(number):
    return 2*number
t=twice(5)
print(t)

functions


10

In [65]:
    print("prime number")

prime number

In [63]:
def isPrime(number):
    for factor in range(2, (number//2)+1): 
        if number%factor == 0:
            return False
    return True
number = int(input('Enter the number '))
print(isPrime(number))

Enter the number 10
False

In [64]:
def printPrimes(llimit, ulimit):
    for num in range(llimit, ulimit + 1):
        if isPrime(num) == True:
            print(num, end = ' ')
printPrimes(5,50)

5 7 11 13 17 19 23 29 31 37 41 43 47

In [51]:
def swap(x,y):
    t = x
    x = y
    y = t
    return x,y

a=5
b=7
a,b = swap(a,b)
print(a,b)

7 5

In [74]:
print("CLASS")
class Adder:
    def init(self):
        self.x=0
        self.y=0
    def setValues(self,x,y):
        self.x=x
        self.y=y
    def calculate(self1):
        self1.sum = self1.x + self1.y
    def getSum(self):
        return self.sum

CLASS

In [75]:
adder =Adder()
adder.setValues(5,4)
adder.calculate()
print(adder.getSum())

9